NEXT_PUBLIC_SUPABASE_URL=https://hvqrivmfxwaizxwmhqie.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2cXJpdm1meHdhaXp4d21ocWllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyODM0MzgsImV4cCI6MjA5Njg1OTQzOH0.AMJbVoRoj2UVkgXiGYzaCko0MUbOJWcr-Pj2vmGbH34
NEXT_PUBLIC_API_BASE_URL=https://your-railway-api.up.railway.app
